name: P11 - DAST (OWASP ZAP baseline)

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - develop
      - p11-dast-zap
    paths:
      - 'app/**'
      - 'tests/**'
      - 'EVIDENCE/P11/**'
      - '.github/workflows/ci-p11-dast.yml'
      - 'requirements.txt'
      - 'pyproject.toml'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dast-zap:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ensure evidence dirs
        run: mkdir -p EVIDENCE/P11

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run app
        run: |
          uvicorn app.main:app --host 0.0.0.0 --port 8080 &

          timeout 60 bash -c 'until curl -sf http://localhost:8080/healthz; do sleep 1; done'

      - name: Run ZAP Baseline scan
        run: |
          mkdir -p zap-wrk EVIDENCE/P11
          chmod 777 zap-wrk

          docker run --rm --network host -v "$PWD/zap-wrk":/zap/wrk ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py \
              -t http://localhost:8080 \
              -r zap_baseline.html \
              -J zap_baseline.json \
              -d \
              -m 5 || true

          echo "Содержимое zap-wrk после запуска ZAP:"
          ls -la zap-wrk || echo "zap-wrk пуст"
          mv zap-wrk/zap_baseline.* EVIDENCE/P11/ || true

          echo "Содержимое EVIDENCE/P11 после mv:"
          ls -la EVIDENCE/P11 || echo "EVIDENCE/P11 пуст"



      - name: Upload P11 evidence
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: P11_EVIDENCE
          path: EVIDENCE/P11
